* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #cec3c1;
    --secondary-color: #240115;
    --tertiary-color: #De3c4b;
    --quaternary-color: #87F5FB;
    --white: #FFF;
}

body {
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER styles start */
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 10px;
    
}

header h1 {
    width: 100%;
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    flex: 1 0 0;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.9);
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;

}

header a {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 4px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.9);
}

nav ul li a:hover {
    background-color: var(--quaternary-color);
    border-radius: 25px;
}

/* FOOTER styles start */
footer {
    text-align: center;
    font-family: cursive;
    color: var(--secondary-color);
    margin-top: 15px;
}

/* ABOUT ME styles start */
h2 {
    text-align: center;
}

.about-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.about-flex img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(36, 1, 21, 0.5);
}

/* MY WORK styles start */
.work-flex {
    display: flex;
    flex-wrap: wrap;
}

#main-work {
    max-height: 100%;
    width: auto;
    position: relative;
}

#surf {
    position: absolute;
    bottom: 20px;
    background-color:#87F5FB;
    color: var(--tertiary-color);
    padding-left: 20px;
    padding-right: 20px;
}

#second-work {
    max-height: 100%;
    width: auto;
    position: relative;
}

#led {
    position: absolute;
    bottom: 20px;
    background-color:#87F5FB;
    color: var(--tertiary-color);
    padding-left: 20px;
    padding-right: 20px; 
}

#third-work {
    width: 100%;
    height: auto;
    position: relative;
}

#calculator {
    position: absolute;
    bottom: 20px;
    background-color:#87F5FB;
    color: var(--tertiary-color);
    padding-left: 20px;
    padding-right: 20px;
}

#fourth-work {
    max-height: 100%;
    width: auto;
    position: relative;   
}

#pretzel {
    position: absolute;
    bottom: 20px;
    background-color:#87F5FB;
    color: var(--tertiary-color);
    padding-left: 20px;
    padding-right: 20px;
}

#fifth-work {
    max-height: 100%;
    width: auto;
    position: relative;  
}

#run {
    position: absolute;
    bottom: 20px;
    background-color:#87F5FB;
    color: var(--tertiary-color);
    padding-left: 20px;
    padding-right: 20px; 
}

/* CONTACT ME styles start */
.contact-flex {
    text-align: center;
}

.links {
    list-style: none;
}

/* MEDIA QUERY FOR TABLETS (768px - 989px) */

/* MEDIA QUERY FOR SMALL SCREENS (980px - 1199px) */

/*MEDIA QUERY FOR DESKTOP/LAPTOP/LARGE SCREENS (1200px and beyond) */
@media screen and (min-width: 1200px) {
    header {
        justify-content: space-between;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
    }
}