* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #cec3c1;
    --secondary-color: #240115;
    --tertiary-color: #De3c4b;
    --quaternary-color: #87F5FB;
    --white: #FFF;
}

body {
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER styles start */
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-image: url(../images/pexels-fwstudio-139321.jpg);
    background-size: cover;
    background-attachment: fixed;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    
}

header h1 {
    width: 100%;
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    flex: 1 0 0;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.9);
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;

}

header a {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 4px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.9);
}

nav ul li a:hover {
    background-color: var(--quaternary-color);
    border-radius: 25px;
}

/* FOOTER styles start */
footer {
    text-align: center;
    font-family: cursive;
    color: var(--secondary-color);
    margin-top: 15px;
}

/* HERO styles start */
.hero {
    background-image: url(../images/pexels-fwstudio-139321.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100px;
}
.hero h2 {
    text-align: right;
    font-family: cursive;
    padding-top: 50px;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.9);

}

/* ABOUT ME styles start */
h2 {
    text-align: center;
}

.about-flex {
    display: flex;
    justify-content: space-between;
   margin: 10px 5px;
    flex-wrap: wrap;
}

.about-flex img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(36, 1, 21, 0.5);
}

/* MY WORK styles start */
.wrapper {
    display: grid;
    grid-template-columns: 2fr 5fr 5fr;
    grid-auto-rows: minmax(100px, auto);
    column-gap: 5px;
    row-gap: 5px;
    margin-right: 5px;
}

.wrapper h2 {
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 4;
}

/* Rapid Translation */
#main-work {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    text-align: center;
    border: 5px solid var(--quaternary-color);
}

#main-work img {
    object-fit: cover;
    width: 100%;
    max-height: 500px;
}

#one-text {
    position: absolute;
    background-color: var(--quaternary-color);
    color: var(--tertiary-color);
    padding-left: 20px;
    padding-right: 20px;
    bottom: 15px;
}

/* Work Day Scheduler */
#second-work {
    position: relative;
    text-align: center;
    border: 5px solid var(--quaternary-color);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2 / 3;
}

#second-work img {
    object-fit: cover;
    width: 100%;
    max-height: 300px;
}

#two-text {
    position: absolute;
    background-color: var(--quaternary-color);
    color: var(--tertiary-color);
    padding-left: 20px;
    padding-right: 20px;
    bottom: 15px; 
} 

/* Password Generator */
#third-work {
    position: relative;
    text-align: center;
    border: 5px solid var(--quaternary-color);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
}

#third-work img {
    object-fit: cover;
    width: 100%;
    max-height: 300px;
}

#third-text {
    position: absolute;
    bottom: 20px;
    background-color: var(--quaternary-color);
    color: var(--tertiary-color);
    padding-left: 20px;
    padding-right: 20px;
}

/* Placeholder */
#fourth-work {
    position: relative;
    text-align: center;
    border: 5px solid var(--quaternary-color);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
}

#fourth-work img {
    object-fit: cover;
    width: 100%;
    max-height: 300px;
}

#fourth-text {
    position: absolute;
    bottom: 20px;
    background-color: var(--quaternary-color);
    color: var(--tertiary-color);
    padding-left: 20px;
    padding-right: 20px;
}

/* Run Buddy */
#fifth-work {
    position: relative;
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    border: 5px solid var(--quaternary-color);
}

#fifth-work img {
    object-fit: cover;
    width: 100%;
    max-height: 300px;
}

#fifth-text {
    position: absolute;
    bottom: 20px;
    background-color:var(--quaternary-color);
    color: var(--tertiary-color);
    padding-left: 20px;
    padding-right: 20px; 
}

/* CONTACT ME styles start */
.contact-flex {
    text-align: center;
    margin-top: 10px;
}

.links {
    list-style: none;
}

/* MEDIA QUERY FOR TABLETS (768px - 989px) */
@media screen and (max-width: 989px) {
    .about-flex {
        justify-content: center;
        text-align: center;
    }
}

/*MEDIA QUERY FOR PHONES  (768px and below) */
@media screen and (max-width: 768px) {
    header {
        position: fixed; 
    }

    /* My Work */
    .wrapper {
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
    }
    
    /* Rapid Translation */
    #main-work {
        border: none; 
    }

#main-work img {
    object-fit: cover;
    width: 100%;
    max-height: 100px;
    max-width: 200px;
}

#one-text {
    background-color: transparent;
    color: var(--tertiary-color);
    font-size: 12px;
}
}